#pimg
{
  border-color: white;
  background-color: white;
}

body
{
  background: black;
  background: linear-gradient(43deg, black 0%, black 100%);
  color: white;
}

.baritem
{
  border-color: white;
}

.baritem:hover
{
  color: black;
  background-color: white;
}

.baritem:active
{
  background-color: rgb(128, 128, 128);
  border-color: rgb(128, 128, 128);
}

body
{
  transition: 1s;
  font-family: consolas;
}

#pagecontainer
{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas
{
  position: absolute;
  z-index: -1;
}

#internal
{
  display: flex;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  flex-direction: column;
}

#pdata
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

#pimg
{
  height: 384px;
  width: auto;
  border-width: 2px;
  border-style: solid;
  border-radius: 256px;
  margin-bottom: 32px;
  padding: 0px;
  position: relative;
  top: 0px;
  transition: 0.25s;
  z-index: 2;
}

#pimg:hover
{
  top: max(0px, 50vw - 50% + 32px);
  border-width: 1px;
  border-color: white;
  background-color: white;
  box-shadow: 0 0 16px rgba(255, 0, 0, 0.5);
  height: auto;
  width: 100%;
  transition: 0.25s;
}

#pimg:hover ~ .name
{
  color: transparent;
  transition: 0.5s;
}

.name
{
  transition: 0.5s;
  font-size: 4em;
}

.bar
{
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: stretch;
  justify-content: center;
  margin-top: auto;
  width: 80%;
  flex-wrap: wrap;
  margin-bottom: auto;
  height: 20%;
}

.baritem
{
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 34%;
  text-align: center;
  margin: 8px;
  border-width: 3px;
  border-style: solid;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  cursor: default;
  background-color: rgba(1, 1, 1, .15);
  font-size: 3em;
  backdrop-filter: blur(2px);
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.baritem:hover
{
  transition: 0.5s;
}

.baritem:active
{
  transition: 0.1s;
}

@media only screen and (min-width: 992px)
{
  #pimg
  {
    margin-top: auto;
    width: auto;
    height: 192px;
    border-radius: 128px;
  }

  #pimg:hover
  {
    width: auto;
    height: 384px;
    top: 96px;
  }

  .name
  {
    font-size: 2em;
  }

  .bar
  {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    max-width: 1000px;
    margin-bottom: 32px;
  }

  .baritem
  {
    flex-basis: 100%;
    flex-shrink: 1;
    height: 48px;
    font-size: 1em;
  }
}
